body {
  background-color: white;
}

#heading {
  font-size: 30px;
  margin: 8px;
}

#tracking{
  font-size: 18px;
  color: black;
  margin: 8px;
}

#tracking span {
  margin-right: 40px;
}

#logged_user {
  font-size: 18px;
  color: gray;
  margin: 8px;
}